{
  "api_key": "your-secret-key",
  "base_path": "/amigow",
  "server_host": "https://[host]",
  "ami_servers": [
    {
      "id": "teste-1",
      "host": "localhost",
      "port": 5038,
      "username": "amigow",
      "password": "TNwVn82RCNMXgA",
      "webhooks": [
        {
          "url": "https://[your-host]/api/ami-webhook",
          "timeout_seconds": 10,
          "events_filter": ["answer", "hangup", "missed", "invite"]
        }
      ]
    }
  ],
  "config_api_url": "http://localhost:9000/config",
  "config_refresh_minutes": 5,

  "api_connect": {
    "host": "https://[your-host]",
    "path_resolver": "/asterisk-egress/dynamic-resolver",
    "path_open_gate": "/asterisk-egress/open-gate",
    "timeout_seconds": 10
  },

  "cdr_db": {
    "host": "127.0.0.1",
    "port": 3306,
    "username": "asterisk",
    "password": "",
    "database": "asterisk",
    "table": "cdr"
  }
}




